body {
 background-color: #70819e;
}
.navbar:active {
    color: aliceblue;
    text-decoration: underline;
    padding: 20px 20px;
    border-radius: 8px;
    position: center;
    top: 0px;
}
.main {
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: absolute;
    border-radius: 8px;
    font-size: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background: linear-gradient(#ff0000, #ffffff, #0000ff);
    font-family: cursive;
}
.info {
    height: 70px;
    background-color: purple;
    position: sticky;
    border-radius: 100px;
    align-items: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #ff0000, #0000ff);
    font-size: 30px;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
}
.Why {
    height: 70px;
    background-color: purple;
    border-radius: 100px;
    align-items: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #853eba, #ff0062);
    font-size: 30px;
    position: sticky;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 50px;

}
