body {
    background-color:  rgb(75, 5, 238);
    background: radial-gradient(circle, #4a01a3, #1d1c1c);
}
.navbar a:hover {
    background-color: #000000;
    color: white;
}
.main {
    color: rgb(128, 0, 178);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-radius: 8px;
    font-size: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: cursive;
    background: linear-gradient(#630000, #ffffff, #000000);
    animation: rad 3s infinite;
}
.info {
    color: rgb(255, 255, 255);
    height: 70px;
    background-color: rgb(0, 0, 0);
    position: sticky;
    border-radius: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #000000, #ffffff);
    font-size: 30px;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
    padding: 50px;
    border: 5px solid #7f7f7f;
    cursor: zoom-in;
}
.Why {
    color: white;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    align-items: center;
    padding: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #ffffff, #000000);
    font-size: 30px;
    position: sticky;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 5px solid #4b4b4b;

}
li:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
h1:hover {
    color: rgb(79, 76, 76);
    transition: color 0.3s;
}
.footer:hover {
    background-color: #000000;
    transition: background-color 0.5s;
}
@keyframes radialGradient-pulse {
    0% { filter: hue-rotate(0deg) brightness(1); }
    50% { filter: hue-rotate(180deg) brightness(1.5); }
    100% { filter: hue-rotate(360deg) brightness(1); }
}

h1 {
    text-shadow: 0 0 20px #313131, 0 0 40px #ffffff;
}

h1:hover {
    transform: scale(1.2);
    text-shadow: 0 0 30px #000000;
}