body {
 background-color: #70819e;
}
.navbar a:hover {
    background-color: #333;
    color: white;
}
.main {
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: absolute;
    border-radius: 8px;
    font-size: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background: linear-gradient(#ff0000, #ffffff, #0000ff);
    font-family: cursive;
}
.info {
    height: 70px;
    background-color: purple;
    position: sticky;
    border-radius: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #ff0000, #0000ff);
    font-size: 30px;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
    padding: 50px;
    border: 5px solid #0f3460;
}
.Why {
    height: 70px;
    background-color: purple;
    border-radius: 100px;
    align-items: center;
    padding: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #853eba, #ff0062);
    font-size: 30px;
    position: sticky;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 5px solid #0f3460;

}
li:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
h1:hover {
    color: #ffffff;
    transition: color 0.3s;
}
.footer:hover {
    background-color: #f0f0f0;
    transition: background-color 0.5s;
}