body {
    background-color: red;
}
.nav a{
    color: aliceblue;
    text-decoration: underline;
    padding: 20px 20px;
    border-radius: 8px;
    position: center;
    top: 0px;
}
.main {
    background-color: aliceblue;
    color: blue;
    height: 200px;vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: absolute;
    border-radius: 8px;
    font-size: 50px;
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.info {
    height: 70px;
    background-color: purple;
    position: sticky;
    border-radius: 100px;
    justify-content: ;
    align-items: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.why {
    background-color: brown;
    position: sticky;
    top: 100px;
    left: 100px;
    border-radius: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
