body {
 background-color: #70819e;
}
.nav a{
    color: aliceblue;
    text-decoration: underline;
    padding: 20px 20px;
    border-radius: 8px;
    position: center;
    top: 0px;
}
.main {
    background-color: aliceblue;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: absolute;
    border-radius: 8px;
    font-size: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background: linear-gradient(#ff0000, #ffffff, #0000ff);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info {
    height: 70px;
    background-color: purple;
    position: sticky;
    border-radius: 100px;
    justify-content: ;
    align-items: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #ff0000, #0000ff);
}
.why {
    height: 70px;
    background-color: purple;
    position: sticky;
    border-radius: 100px;
    justify-content: ;
    align-items: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: linear-gradient(to left, #ff0000, #0000ff);


}
